@model BanHangOnline.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Thêm danh mục</div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div>
                                <form enctype="multipart/form-data" asp-action="Create">
                                    <h6 class="h-0 m-0">&nbsp;</h6>
                                    <div class="row gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input type="file" class="filetype" style="margin-bottom:40px" data-iconname="glyphicon-inbox" name="postedFiles" accept=".png,.jpg,.jpeg,.gif" />
                                                <div class="field-placeholder">Chọn hình ảnh <span class="text-danger">*</span></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input asp-for="CategoryName" class="form-control" />
                                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                                                <div class="field-placeholder">Tên danh mục</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input asp-for="CategoryURL" class="form-control" />
                                                <span asp-validation-for="CategoryURL" class="text-danger"></span>
                                                <div class="field-placeholder">Đường dẫn Link</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input asp-for="CategoryOrder" class="form-control" />
                                                <span asp-validation-for="CategoryOrder" class="text-danger"></span>
                                                <div class="field-placeholder">Thứ tự sắp xếp</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper text-start">
                                                <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="CategoryShowHome" checked />
                                                <div class="field-placeholder">Hiển thị trang chủ</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper text-start">
                                                <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="CategoryEnable" checked />
                                                <div class="field-placeholder">Trạng thái hoạt động</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <textarea asp-for="ShortDescription" class="form-control" style="height:150px"></textarea>
                                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                                <div class="field-placeholder">Mô tả ngắn danh mục</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 text-start">
                                            <input value="Trở lại" type="submit" class="btn btn-primary mt-3 ml-2" asp-action="Index">
                                        </div>

                                        <div class="col-md-6 text-end">
                                            <input type="submit" value="Create" class="btn btn-primary mt-3 mr-2" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Content wrapper end -->
    </div>
</div>
<!-- Content wrapper scroll end -->