@model BanHangOnline.Areas.Manager.Models.CategoryCreate

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";

    
    <style>
        .ImgProduct {
            max-width: 100px;
            max-height: 100px;
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
}

<!-- Content wrapper scroll start -->
<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Thêm danh mục</div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div>
                                <form enctype="multipart/form-data" asp-action="Create">
                                    <h6 class="h-0 m-0">&nbsp;</h6>
                                    <div class="row gutters">
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input type="file" id="file-input" class="filetype" style="margin-bottom:40px" data-iconname="glyphicon-inbox" name="postedFiles" accept=".png,.jpg,.jpeg,.gif" multiple />
                                                <div class="field-placeholder">Chọn hình ảnh <span class="text-danger">*</span></div>
                                            </div>
                                        </div>

                                        @if (Model.Categorys != null)
                                        {
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                                <div class="field-wrapper">
                                                    <select id="drpEmpList" class="select-single js-states" asp-for="ParentId" asp-items="@(new SelectList(Model.Categorys, "Id", "CategoryName"))">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <div class="field-placeholder">Chọn danh mục cha</div>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input asp-for="CategoryName" class="form-control" />
                                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                                                <div class="field-placeholder">Tên danh mục</div>
                                            </div>
                                        </div>
                                    @*    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <input asp-for="CategoryOrder" class="form-control" />
                                                <span asp-validation-for="CategoryOrder" class="text-danger"></span>
                                                <div class="field-placeholder">Thứ tự sắp xếp</div>
                                            </div>
                                        </div>*@
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper text-start">
                                                <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="CategoryShowHome" checked />
                                                <div class="field-placeholder">Hiển thị trang chủ</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper text-start">
                                                <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="CategoryEnable" checked />
                                                <div class="field-placeholder">Trạng thái hoạt động</div>
                                            </div>
                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <textarea asp-for="Description" class="form-control" style="height:150px"></textarea>
                                                <span asp-validation-for="Description" class="text-danger"></span>
                                                <div class="field-placeholder">Mô tả ngắn danh mục</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 text-start">
                                            <input value="Trở lại" type="submit" class="btn btn-primary mt-3 ml-2" asp-action="Index">
                                        </div>

                                        <div class="col-md-6 text-end">
                                            <input type="submit" value="Create" class="btn btn-primary mt-3 mr-2" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Content wrapper end -->
    </div>
</div>
<!-- Content wrapper scroll end -->



<script>
    document.querySelector('#file-input').addEventListener("change", previewImages);

function previewImages() {

  var preview = document.querySelector('#preview');
  
  if (this.files) {
    [].forEach.call(this.files, readAndPreview);
  }

  function readAndPreview(file) {

    // Make sure `file.name` matches our extensions criteria
    if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
      return alert(file.name + " is not an image");
    } // else...
    
    var reader = new FileReader();
    
    reader.addEventListener("load", function() {
      var image = new Image();
      image.max-height = 100;
      image.max-width = 100;
      image.margin-top = 10;
      image.title  = file.name;
      image.src    = this.result;
      preview.appendChild(image);
    });

    reader.readAsDataURL(file);
  }

}
</script>

