@model BanHangOnline.Areas.Manager.Models.CategoryDropdown

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";

    <style>
        .ImgProduct {
            max-width: 100px;
            max-height: 100px;
            margin-top: 10px;
            margin-right: 10px;
        }
    </style>
}

<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sửa thông tin website</div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <h6 class="h-0 m-0">&nbsp;</h6>
                                <div class="row gutters">
                                    @if (Model.Categorys != null)
                                    {
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <select id="drpEmpList" class="select-single js-states" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categorys, "Id", "CategoryName"))">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <div class="field-placeholder">Chọn danh mục</div>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input type="file" class="filetype" id="file-input" data-iconname="glyphicon-inbox" name="postedFiles" accept=".png,.jpg,.jpeg,.gif" multiple />
                                            <div class="media-box" id="preview">
                                            </div>
                                            <div class="field-placeholder">Chọn hình ảnh <span class="text-danger">*</span></div>
                                            @if (@Model.ProductImages != null)
                                            {
                                                <div class="media-box" id="Clea-img">
                                                    @foreach (var item in Model.ProductImages)
                                                    {

                                                        <img id="output" src="@item.FilePath" class="media-avatar" style="max-width:100px; max-height:100px; margin-top:10px">

                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="ProductName" class="form-control" />
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                            <div class="field-placeholder">Tên sản phẩm</div>
                                        </div>
                                    </div>
                                    @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                    <input asp-for="SKU" class="form-control" />
                                    <span asp-validation-for="SKU" class="text-danger"></span>
                                    <div class="field-placeholder">Mã SKU (Nếu có)</div>
                                    </div>
                                    </div>*@
                                    @* <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                    <input asp-for="ManufacturerId" class="form-control" />
                                    <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                                    <div class="field-placeholder">Nhà sản xuất</div>
                                    </div>
                                    </div>*@
                                    @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                    <input asp-for="UnitTypeId" class="form-control" />
                                    <span asp-validation-for="UnitTypeId" class="text-danger"></span>
                                    <div class="field-placeholder">Loại đơn vị</div>
                                    </div>
                                    </div>*@
                                    @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                    <input asp-for="TaxRateId" class="form-control" />
                                    <span asp-validation-for="TaxRateId" class="text-danger"></span>
                                    <div class="field-placeholder">Thuế suất</div>
                                    </div>
                                    </div>*@
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="Color" class="form-control" placeholder="Vd: Hồng, cam, đỏ, tím" />
                                            <span asp-validation-for="Color" class="text-danger"></span>
                                            <div class="field-placeholder">Nhập màu</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="Size" class="form-control" placeholder="Vd:S, M, SM, L" />
                                            <span asp-validation-for="Size" class="text-danger"></span>
                                            <div class="field-placeholder">Nhập Size</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="RetailPrice" class="form-control" />
                                            <span asp-validation-for="RetailPrice" class="text-danger"></span>
                                            <div class="field-placeholder">Giá gốc</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="SalePrice" class="form-control" />
                                            <span asp-validation-for="SalePrice" class="text-danger"></span>
                                            <div class="field-placeholder">Giá bán đã giảm</div>
                                        </div>
                                    </div>

                                    @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                    <input asp-for="WarehouseId" class="form-control" />
                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                    <div class="field-placeholder">Nhà cung cấp (kho)</div>
                                    </div>
                                    </div>*@
                                    @*<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper">
                                    <input asp-for="ProductTypeId" class="form-control" />
                                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                                    <div class="field-placeholder">Loại sản phẩm</div>
                                    </div>
                                    </div>*@
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="QuantityInStock" class="form-control" />
                                            <span asp-validation-for="QuantityInStock" class="text-danger"></span>
                                            <div class="field-placeholder">Số lượng sản phẩm</div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper text-start">
                                            <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="ShowOnSalePage" />
                                            <div class="field-placeholder">Hiển thị sản phẩm ưu thích</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper text-start">
                                            <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="OwenSale" />
                                            <div class="field-placeholder">Hiển thị sản phẩm giảm giá trang chủ</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper text-start">
                                            <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="ShowOnHomePage" />
                                            <div class="field-placeholder">Hiển thị Sản phẩm nổi bật</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper text-start">
                                            <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="Published" checked />
                                            <div class="field-placeholder">Trạng thái hoạt động</div>
                                        </div>
                                    </div>
                                    @*    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="field-wrapper text-start">
                                    <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="IsGroup" checked/>
                                    <div class="field-placeholder">Sản phẩm đặt biệt</div>
                                    </div>
                                    </div>*@
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <textarea asp-for="ShortDescription" class="form-control" style="height:150px"></textarea>
                                            <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                            <div class="field-placeholder">Mô tả ngắn danh mục</div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <textarea asp-for="Description" class="form-control" style="height:150px"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                            <div class="field-placeholder">Mô tả chi tiết</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-start">
                                        <input value="Trở lại" type="submit" class="btn btn-primary mt-3 ml-2" asp-action="Index">
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <input type="submit" value="Hoàn Tất" class="btn btn-primary mt-3 mr-2" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Content wrapper end -->
    </div>
</div>


<script>
    function previewImages() {
        var preview = document.querySelector('#preview');
        var liElements = document.querySelectorAll("img[id^='Imgproduct']");
        var liElementOut = document.querySelectorAll("img[id^='output']");
        if (liElements.length > 0) {
            for (let i = 0; i < liElements.length; i++) {
                liElements[i].remove();
            }
        }
        if (liElementOut.length > 0) {
            for (let i = 0; i < liElementOut.length; i++) {
                liElementOut[i].remove();
            }
        }
        if (this.files) {
            [].forEach.call(this.files, readAndPreview);
        }

        function readAndPreview(file) {
            // Make sure `file.name` matches our extensions criteria
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
            } // else...

            var reader = new FileReader();

            reader.addEventListener("load", function() {
                var image = new Image();
                image.className = "media-avatar ImgProduct";
                image.title = file.name;
                image.id = "Imgproduct";
                image.src = this.result;
                preview.appendChild(image);
            });
            reader.readAsDataURL(file);
        }
    }

    document.querySelector('#file-input').addEventListener("change", previewImages);
</script>
