@{
    ViewData["Title"] = "Đơn hàng thành công";
}

<div class="row" style="margin:40px;">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
        <h2 class="text-center">Bạn đã đặt hàng thành công!</h2> <br />
        <a asp-action="Index" asp-controller="home" class="btn btn-info">Trang chủ</a>
    </div>
    <div class="col-md-3"></div>
</div>
