@model BanHangOnline.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sửa thông tin website</div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <form asp-action="Edit" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <h6 class="h-0 m-0">&nbsp;</h6>
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="FullName" class="form-control" readonly/>
                                            <span asp-validation-for="FullName" class="text-danger" readonly></span>
                                            <div class="field-placeholder">Tên đầy đủ</div>
                                        </div>
                                    </div>
                                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="Email" class="form-control" readonly/>
                                            <span asp-validation-for="Email" class="text-danger" ></span>
                                            <div class="field-placeholder">Email</div>
                                        </div>
                                    </div>
                                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="PhoneNumber" class="form-control" readonly/>
                                            <span asp-validation-for="PhoneNumber" class="text-danger" ></span>
                                            <div class="field-placeholder">Số điện thoại</div>
                                        </div>
                                    </div>

                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                        <div class="field-wrapper text-start">
                                            <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="IsGroup" />
                                            <div class="field-placeholder">Đã xem</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                          <textarea asp-for="Contents" class="form-control" style="height:150px" readonly></textarea>
                                            <div class="field-placeholder">Thông tin ngắn</div>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-start">
                                        <input value="Trở lại" type="submit" class="btn btn-primary mt-3 ml-2" asp-action="Index">
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <input type="submit" value="Hoàn Tất" class="btn btn-primary mt-3 mr-2" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Content wrapper end -->
    </div>
</div>