<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BanHangOnline</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/Shop/assets/img/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Chuyên bán các mặt hàng về công nghệ, sản phẩm làm đẹp, đồ điện tử, minh tây làm đẹp" />
    <meta property="og:image" content="~/Content/Shop/assets/img/web.png" />
    <meta property="Shop:full_image" content="~/Content/Shop/assets/img/web.png" />
    <link rel="image_src" href="~/Content/Shop/assets/img/web.png" />
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="" />
    <meta name="robots" content="NOODP,index,follow" />
    <meta name="author" content="Minh Tây Shop" />
    <meta name="keywords" content="MinhTayShop, Shoptay, đồ công nghệ, sản phẩm làm đẹp, minh tây điện tử, " />
    <meta name="geo.region" content="VN" />
    <meta name="geo.placename" content="3" />
    <meta name="COPYRIGHT" content="Minh Tây Shop" />
    <meta property="og:type" content="Minh Tây Shop" />
    <meta property="og:description" content="Chuyên bán các mặt hàng về công nghệ, sản phẩm làm đẹp, đồ điện tử..." />
    <link rel="shortcut icon" title="SELFHTML Icon" type="image/x-icon" href="~/Content/Shop/assets/img/favicon.ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- CSS
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/bootstrap.min.css">
    <!--owl carousel min css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/owl.carousel.min.css">
    <!--slick min css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/slick.css">
    <!--magnific popup min css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/magnific-popup.css">
    <!--font awesome css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/font.awesome.css">
    <!--ionicons css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/ionicons.min.css">
    <!--7 stroke icons css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/pe-icon-7-stroke.css">
    <!--animate css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/animate.css">
    <!--jquery ui min css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/jquery-ui.min.css">
    <!--plugins css-->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/plugins.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/Content/Shop/assets/css/style.css">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!--modernizr min js here-->
    <script src="~/Content/Shop/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <style>
       /* .product_carousel .product_thumb a img {
            max-height: 196px;
            min-height: 196px;
            max-width: 196px;
            min-width: 196px;
            margin: 0 auto;
        }*/
    </style>
</head>
<body>
    @await Html.PartialAsync("_header")
    @RenderBody()
    @await Html.PartialAsync("_Footer")

    <!-- JS
    ============================================ -->
    <!--jquery min js-->
    <script src="~/Content/Shop/assets/js/vendor/jquery-3.5.0.min.js"></script>
    <!--popper min js-->
    <script src="~/Content/Shop/assets/js/popper.js"></script>
    <!--bootstrap min js-->
    <script src="~/Content/Shop/assets/js/bootstrap.min.js"></script>
    <!--owl carousel min js-->
    <script src="~/Content/Shop/assets/js/owl.carousel.min.js"></script>
    <!--slick min js-->
    <script src="~/Content/Shop/assets/js/slick.min.js"></script>
    <!--magnific popup min js-->
    <script src="~/Content/Shop/assets/js/jquery.magnific-popup.min.js"></script>
    <!--jquery countdown min js-->
    <script src="~/Content/Shop/assets/js/jquery.countdown.js"></script>
    <!--jquery ui min js-->
    <script src="~/Content/Shop/assets/js/jquery.ui.js"></script>
    <!--jquery elevatezoom min js-->
    <script src="~/Content/Shop/assets/js/jquery.elevatezoom.js"></script>
    <!--isotope packaged min js-->
    <script src="~/Content/Shop/assets/js/isotope.pkgd.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/Content/Shop/assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="~/Content/Shop/assets/js/main.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

