@using BanHangOnline.ViewModels
@model List<CategoryViewModel>

<!--header area start-->
<!--offcanvas menu area start-->
<div class="off_canvars_overlay">
</div>
<div class="offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="header_search_box">
                        <form asp-controller="Search" asp-action="Index">
                            <input placeholder="Tìm kiếm" name="SearchString" type="text">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="/index">Trang chủ</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">Danh mục sản phẩm</a>
                                        <ul class="sub-menu">

                                            @foreach (var item in Model)
                                            {
                                                <li><a href="#">@item.CategoryName</a></li>
                                            }
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">danh mục tin tức</a>
                                        <ul class="sub-menu">
                                            <li><a href="cart.html">nội bộ</a></li>
                                            <li><a href="wishlist.html">chung</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">blog</a></li>
                                    <li><a href="blog-details.html">blog details</a></li>
                                    <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                    <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                </ul>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">pages </a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">services</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="404.html">Error 404</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="my-account.html">my account</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">about Us</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="contact.html"> Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="offcanvas_footer">
                        <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->

<header>
    <div class="main_header">
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="header_contact_us">
                            <ul>
                                <li><span><i class="fa fa-phone"></i> Sdt: </span> <a href="tel:(+800)123456789"><i class="icon-call-in"></i> (+800)123456789</a></li>
                                <li><span><i class="fa fa-envelope-o"></i>Email: </span> <a href=""><i class="icon-envelope"></i> has@posthemes.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="header_account_area">
                            <ul>
                                <li><a href="wishlist.html">Yêu thích</a></li>
                                <li><a href="checkout.html">Thanh toán</a></li>
                                <li><a href="login.html">Đăng nhập</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-3 col_canvas">
                        <div class="canvas_open">
                            <a href="javascript:void(0)"><i class="ion-navicon-round"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-5">
                        <div class="logo">
                            <a href="index.html"><img src="~/Content/Shop/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col_search">
                        <div class="header_search_box">
                            <form asp-controller="Search" asp-action="Index">
                                <input placeholder="Tìm Kiếm" name="SearchString" type="text">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-4">
                        <div class="cart_wishlist_area">
                            <div class="header_wishlist">
                                <a href="wishlist.html">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    <span class="item_count">3</span>
                                </a>
                            </div>
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <span class="cartitems"> Cart Items</span>
                                    <span class="item_count">2</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <!--main menu start-->
                        <div class="main_menu menu_position">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="/index">Trang chủ<i class="fa fa-angle-down"></i></a>

                                    </li>
                                    <li class="mega_items">
                                        <a href="/index">Sản phẩm<i class="fa fa-angle-down"></i></a>
                                        <div class="mega_menu">
                                            <ul class="mega_menu_inner">
                                               
                                                     <li><a href="#">Thời trang</a>
                                                <ul>
                                                     @foreach (CategoryViewModel item in Model)
                                                {
                                                <li><a href="@item.CategoryURL">@item.CategoryName</a></li>
                                                 }
                                                </ul>
                                                </li>
                                               

                                                <li>
                                                    <a href="#">tin tức</a>
                                                    <ul>
                                                        <li><a href="cart.html">cart</a></li>
                                                        <li><a href="wishlist.html">Wishlist</a></li>
                                                        <li><a href="checkout.html">Checkout</a></li>
                                                        <li><a href="my-account.html">my account</a></li>
                                                        <li><a href="404.html">Error 404</a></li>
                                                    </ul>
                                                </li>
                                                
                                               
                                                <li><a href="#">Clothing</a>
                                                <ul>
                                                <li><a href="shop.html">T-Shirts</a></li>
                                                <li><a href="shop.html">Coats</a></li>
                                                <li><a href="shop.html">Jackets</a></li>
                                                <li><a href="shop.html">Jeans</a></li>
                                                </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog.html">blog<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="blog-details.html">blog details</a></li>
                                            <li><a href="blog-fullwidth.html">blog fullwidth</a></li>
                                            <li><a href="blog-sidebar.html">blog sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a asp-controller="Home" asp-action="Contact"> Liên hệ</a></li>
                                    <li><a asp-controller="Home" asp-action="About"> Giới thiệu</a></li>
                                    <li>
                                        <a href="#">pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="services.html">services</a></li>
                                            <li><a href="faq.html">Frequently Questions</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                            <li><a href="login.html">login</a></li>
                                            <li><a href="404.html">Error 404</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--main menu end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--mini cart-->
    <div class="mini_cart">
        <div class="cart_gallery">
            <div class="cart_close">
                <div class="cart_text">
                    <h3>cart</h3>
                </div>
                <div class="mini_cart_close">
                    <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="#"><img src="~/Content/Shop/assets/img/s-product/product.png" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="#">Juicy Couture Tricot</a>
                    <p>1 x <span> $30.00 </span></p>
                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-ios-close-outline"></i></a>
                </div>
            </div>
            <div class="cart_item">
                <div class="cart_img">
                    <a href="#"><img src="~/Content/Shop/assets/img/s-product/product2.png" alt=""></a>
                </div>
                <div class="cart_info">
                    <a href="#">Juicy Couture Juicy</a>
                    <p>1 x <span> $29.00 </span></p>
                </div>
                <div class="cart_remove">
                    <a href="#"><i class="ion-ios-close-outline"></i></a>
                </div>
            </div>
        </div>
        <div class="mini_cart_table">
            <div class="cart_table_border">
                <div class="cart_total">
                    <span>Sub total:</span>
                    <span class="price">$125.00</span>
                </div>
                <div class="cart_total mt-10">
                    <span>total:</span>
                    <span class="price">$125.00</span>
                </div>
            </div>
        </div>
        <div class="mini_cart_footer">
            <div class="cart_button">
                <a href="cart.html"><i class="fa fa-shopping-cart"></i> View cart</a>
            </div>
            <div class="cart_button">
                <a class="active" href="checkout.html"><i class="fa fa-sign-in"></i> Checkout</a>
            </div>

        </div>
    </div>
    <!--mini cart end-->
</header>
<!--header area end-->