@model BanHangOnline.Areas.Manager.Models.WebBannerGropDropdown

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper-scroll">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sửa nhóm banner</div>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="BannerId" />
                                <h6 class="h-0 m-0">&nbsp;</h6>
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input type="file" class="filetype" onchange="loadFile(event)" data-iconname="glyphicon-inbox" name="postedFiles" accept=".png,.jpg,.jpeg,.gif" />
                                            <div id="img-preview"></div>
                                            <div class="field-placeholder">Chọn hình ảnh <span class="text-danger">*</span></div>
                                            @Html.HiddenFor(model => model.BannerImage)
                                            @if (@Model.BannerImage != null)
                                            {
                                                <div class="media-box">
                                                    <img id="output" src="@Model.BannerImage" class="media-avatar" style="max-width:100px; max-height:100px; margin-top:10px">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                      @if (Model.WebBannerGroup != null)
                                    {
                                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                            <div class="field-wrapper">
                                                <select id="drpEmpList" class="select-single js-states" asp-for="BannerGroupId" asp-items="@(new SelectList(Model.WebBannerGroup, "BannerGroupID", "BannerGroupName"))">
                                                    <option value="">--Select--</option>
                                                </select>
                                                <div class="field-placeholder">Chọn nhóm banner</div>
                                            </div>
                                        </div>
                                    }
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="BannerTitle" class="form-control" />
                                            <span asp-validation-for="BannerTitle" class="text-danger"></span>
                                            <div class="field-placeholder">Tên banner</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper">
                                            <input asp-for="BannerDescription" class="form-control" />
                                            <span asp-validation-for="BannerDescription" class="text-danger"></span>
                                            <div class="field-placeholder">Mô tả banner</div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                        <div class="field-wrapper text-start">
                                            <input type="checkbox" style=" width:20px;margin-left:12px" asp-for="BannerEnable" checked />
                                            <div class="field-placeholder">Trạng thái hoạt động</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-start">
                                        <input value="Trở lại" type="submit" class="btn btn-primary mt-3 ml-2" asp-action="Index">
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <input type="submit" value="Hoàn Tất"  class="btn btn-primary mt-3 mr-2" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Content wrapper end -->
    </div>
</div>
                    
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
